#wrap-container {
    height: calc(100vh - 11em);
    overflow-y: unset;
    width: calc(100% - 4em);
    max-width: 900px;
    margin: auto;
    border-radius: 1em 1em 0em 0em;
    border: .5em solid purple;
    border-bottom: none;
    padding: 1em;
    position: relative;
}

.vert-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

.wrap-slide {
    display: none;
}

.wrap-slide h1 {
    color: #1DB954; /* Spotify green */
}

.wrap-item-list {
    list-style-type: none;
    padding: 0;
}

.like-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em /* ADJUST! */
}

.like-button {
    background-color: #1DB954;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}


.artist, .track {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.wrap-item-list img {
    margin-right: 15px;
    border-radius: 5px;
}

.artist img {
    border-radius: 50%;
}

.artist a, .track a {
    text-decoration: none;
    color: #1DB954;
}

.artist a:hover, .track a:hover {
    text-decoration: underline;
}

/* pagination element */
.pagination {
    display: flex;
    justify-content: center;
    gap: .5em;
    margin-top: .5em;
}

.pagination button {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination button.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination button:hover:not(.active) {background-color: #ddd;}


#progress-bar-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#progress-bar {
    width: 100%;
    background: purple;
    height: .5em;
    margin-left: -1em;
}

#progress-bar.active {
    animation-name: progress-bar_active;
    animation-duration: 10s;
    animation-timing-function: linear;
}

@keyframes progress-bar_active {
  from {width: 0;}
  to {width: 100%;}
}



/*View wrap styling*/
/* Styling the label and input field */
#wrap-name-selection h1 {
    font-size: 2rem;
    color: #1DB954; /* Spotify green */
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
#wrap-name-selection label {
    font-size: 1rem;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

#wrap-name-selection input[type="text"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 2px solid #1DB954;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 5px;
}

#wrap-name-selection input[type="text"]:focus {
    border-color: #55d982; /* A lighter shade of green */
    outline: none;
}

/* Styling for the buttons */
.button-group button {
    display: inline-block;
    margin: 10px 15px 0 0;
    padding: 10px 15px;
    font-size: 1rem;
    color: white;
    background-color: #1DB954; /* Spotify green */
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-group button:hover {
    background-color: #55d982; /* A lighter shade of green */
}

/* Optional: Adjust button spacing */
.button-group {
    margin-top: 15px;
}

/* Styling for the duration selection label */
#wrap-duration-selection label {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    display: block;
    margin-bottom: 10px;
}