:root {
    --transition-time: 3s;
}

#wrap-container {
    height: calc(100vh - 11em);
    overflow-y: auto;
}

#outer-wrap-container {
    width: calc(100% - 4em);
    max-width: 900px;
    margin: auto;
    border-radius: 1em 1em 0em 0em;
    border: .5em solid purple;
    border-bottom: none;
    position: relative;
}

.vert-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

.wrap-slide {
    display: none;
    margin: 1em;
}



.wrap-slide h1 {
    color: #1DB954; /* Spotify green */
}

.wrap-item-list {
    list-style-type: none;
    padding: 0;
}

.like-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em /* ADJUST! */
}

.like-button {
    background-color: #1DB954;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}


.artist, .track {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.wrap-item-list img {
    margin-right: 15px;
    border-radius: 5px;
}

.artist img {
    border-radius: 50%;
}

.artist a, .track a {
    text-decoration: none;
    color: #1DB954;
}

.artist a:hover, .track a:hover {
    text-decoration: underline;
}

/* pagination element */
.pagination {
    display: flex;
    justify-content: center;
    gap: .2em;
    margin-top: .5em;
}

.pagination button {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination button.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination button:hover:not(.active) {background-color: #ddd;}


#progress-bar-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#progress-bar {
    width: 100%;
    background: purple;
    height: .5em;
}

#progress-bar.active {
    animation-name: progress-bar_active;
    animation-duration: 10s;
    animation-timing-function: linear;
}

@keyframes progress-bar_active {
  from {width: 0;}
  to {width: 100%;}
}

.emojiForAnimation {
    transform: translate(-50%, -50%);
    display: none;
    animation-name: emojiAnimation;
    animation-duration: var(--transition-time);
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes emojiAnimation {
    0% {width: .2em;}
    30% {width: 10em;}
    99% {width: .2em;}
    100% {display: none;}
}

.slide-button-label {
    display: none;
}

@media screen and (min-width: 768px) {
    .slide-button-label {
        display: inline;
    }
    .pagination {
        gap: .5em;
    }
}

.transition-slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: .4em .4em 0 0;
    background: #f3a7f3;
    animation-name: transition-slide-leaves;
    animation-duration: var(--transition-time);
    animation-timing-function: linear;
    overflow: hidden;
    max-height: 0;
}

.transition-slide div {
    width: 100%;
    text-align: center;
    margin-top: 1em;
}

@keyframes transition-slide-leaves {
  0% {max-height: 100vh;}
  70%  {max-height: 100vh; }
  100% {max-height: 0;}
}

.transition-slide.left {
    max-height: unset;
    max-width: 0;
    animation-name: transition-slide-leaves-left;
}

@keyframes transition-slide-leaves-left  {
  0% {max-width: 100vw;}
  70%  {max-width: 100vw; }
  100% {max-width: 0;}
}

.transition-slide.shrink {
    top: 50vh; bottom: 50vh; left: 50vw; right: 50vw;
    max-height: unset;
    animation-name: transition-slide-leaves-shrink;
}

@keyframes transition-slide-leaves-shrink  {
  0% {top: 0; bottom: 0; left: 0; right: 0;}
  70%  {top: 0; bottom: 0; left: 0; right: 0;}
  100% {top: 50vh; bottom: 50vh; left: 50vw; right: 50vw;}
}

.transition-slide.dimond {
    max-height: unset;
    animation-name: transition-slide-leaves-dimond;
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
}

@keyframes transition-slide-leaves-dimond {
    0% {clip-path: polygon(50% -50%, 150% 50%, 50% 150%, -50% 50%);}
    70% {clip-path: polygon(50% -50%, 150% 50%, 50% 150%, -50% 50%);}
    100% {clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);}
}

/*View wrap styling*/
/* Styling the label and input field */
#wrap-name-selection h1 {
    font-size: 2rem;
    color: #1DB954; /* Spotify green */
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
#wrap-name-selection label {
    font-size: 1rem;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

#wrap-name-selection input[type="text"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 2px solid #1DB954;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 5px;
}

#wrap-name-selection input[type="text"]:focus {
    border-color: #55d982; /* A lighter shade of green */
    outline: none;
}

/* Styling for the buttons */
.button-group button {
    display: inline-block;
    margin: 10px 15px 0 0;
    padding: 10px 15px;
    font-size: 1rem;
    color: white;
    background-color: #1DB954; /* Spotify green */
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-group button:hover {
    background-color: #55d982; /* A lighter shade of green */
}

/* Optional: Adjust button spacing */
.button-group {
    margin-top: 15px;
}

/* Styling for the duration selection label */
#wrap-duration-selection label {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    display: block;
    margin-bottom: 10px;
}