<!-- templates/Wrapped/select_wraps_to_post.html -->
{% extends 'Wrapped/base.html' %}

{% block title %}Select Wraps to Post{% endblock %}

{% block content %}
<h1>Select Wraps to Post</h1>
<form method="post" action="{% url 'make_wraps_public' %}">
    {% csrf_token %}
    <ul>
        {% for wrap in wraps %}
        <li>
            <input type="checkbox" name="wrap_ids" value="{{ wrap.id }}">
            {{ wrap.title }}
        </li>
        {% endfor %}
    </ul>
    <button type="submit">Make Public</button>
</form>
{% endblock %}