{% extends 'UserAuth/base.html' %}

{% block body %}
    <h1>Spotify Wraps</h1>
    <ul>
        {% for wrap in wraps %}
        <li>
            <h2>{{ wrap.title }}</h2>
            <a href="{% url 'view_wrap' wrap.id %}">View this wrap</a>
            <p>Posted by: {{ wrap.user.username }}</p>
            <form method="post" action="{% url 'like_wrap' wrap.id %}">
                {% csrf_token %}
                <button type="submit">Like</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'select_wraps_to_post' %}"><button>Post</button></a>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('form').forEach(form => {
            form.addEventListener('submit', function(event) {
                event.preventDefault();
                fetch(this.action, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': document.querySelector('input[name="csrfmiddlewaretoken"]').value
                    }
                }).then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error('Request failed.');
                }).then(data => {
                    console.log(data);
                }).catch(error => {
                    console.error(error);
                });
            });
        });
    });
</script>
{% endblock %}
