{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Spotify Wrap{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'UserAuth/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block head %}{% endblock %}
</head>
<body>
<div class="banner">
    <ul class="icon-menu">
        <li class="icon-section icon-section-left">
            <a href="{% url 'home' %}">
                Spotify Wrapper
            </a>
        </li>
        {% if user.is_authenticated %}
            <li class="icon-section HiddenOnMobile">
                <a href="{% url 'myapp:deepcut' %}">
                    <span> Play</span> Deep Cut
                </a>
            </li>
            <li class="icon-section HiddenOnMobile">
                <a href="{% url 'myapp:view_wraps' %}">
                    Generate Wrapped
                </a>
            </li>
            <li class="icon-section HiddenOnMobile">
                <a href="{% url 'contact' %}">
                    Contact Us
                </a>
            </li>
            <li class="icon-section HiddenOnMobile">
                <a href="{% url 'logout' %}">
                    Log Out
                </a>
            </li>
            <li class="icon-section ShownOnMobile">
                <a onclick="toggleHamburger()">
                    <i class="fa fa-bars" id="hamburger-button"></i>
                </a>
            </li>
        {% else %}
            <li>
                <a href="{% url 'signup' %}">
                    Sign up
                </a>
            </li>
            <li>
                <a href="{% url 'login' %}">
                    Log in
                </a>
            </li>
            <li>
                <a href="{% url 'contact' %}">
                    Contact Us
                </a>
            </li>
        {% endif %}
    </ul>
</div>
<div id="hamburger">
    {% if user.is_authenticated %}
        <ul class="icon-menu">
            <li class="icon-section">
                <a href="{% url 'myapp:deepcut' %}">
                    <span> Play</span> Deep Cut
                </a>
            </li>
            <li class="icon-section">
                <a href="{% url 'myapp:generate_wraps' %}">
                    Generate Wrapped
                </a>
            </li>
            <li class="icon-section">
                <a href="{% url 'contact' %}">
                    Contact Us
                </a>
            </li>
            <li class="icon-section">
                <a href="{% url 'logout' %}">
                    Log Out
                </a>
            </li>
        </ul>
    {% endif %}
</div>
<main>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                X
                <span aria-hidden="true"></span>
            </button>
        </div>
    {% endfor %}
    <div class="side-image">
        <img src="{% static 'UserAuth/base1-default.jpg' %}" alt="Abstract Art">
    </div>
    <div class="content-container">
        {% block body %}{% endblock %}
    </div>
</main>
<script>
    function toggleHamburger() {
        const x = document.getElementById("hamburger");
        const button = document.getElementById("hamburger-button")
        if (x.style.display === "block") {
            x.style.display = "none";
            button.classList.add("fa-bars")
            button.classList.remove("fa-close")

        } else {
            x.style.display = "block";
            button.classList.remove("fa-bars")
            button.classList.add("fa-close")
        }
    }
</script>
</body>
</html>