{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Spotify Wrap{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'UserAuth/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock %}
</head>
<body>
<div class="banner">
    <ul class="icon-menu">
        <li class="icon-section">
            {% if is_authenticated %}
            <a href="{% url 'deepcut' %}">
                🎮 Play Deep Cut
            </a>
            {% else %}
            <a href="{% url 'login' %}">
                🎮 Play Deep Cut
            </a>
            {% endif %}
        </li>
        <li class="icon-section">
            {% if is_authenticated %}
            <a href="{% url 'home' %}">
                📦Generate Wrap
            </a>
            {% else %}
            <a href="{% url 'login' %}">
                📦Generate Wrap
            </a>
            {% endif %}
        </li>
        <li class="icon-section">
            {% if not is_authenticated %}
                <a href="{% url 'login' %}">
                    🔒 Log in with Spotify
                </a>
            {% else %}
                <a href="{% url 'logout' %}">
                    🚪 Log out
                </a>
            {% endif %}
        </li>
    </ul>
</div>

<main>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                X
                <span aria-hidden="true"></span>
            </button>
        </div>
    {% endfor %}
    {% block body %}{% endblock %}
</main>
</body>
</html>
