{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Spotify Wrap{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'UserAuth/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock %}
</head>
<body>
<div class="banner">
    <ul class="icon-menu">
        <li class="icon-section">
            {% if is_authenticated %}
                <a href="{% url 'deepcut' %}">
                    🎮<span class="HiddenOnMobile"> Play Deep Cut</span>
                </a>
                {% else %}
                <a href="{% url 'login' %}">
                    🎮<span class="HiddenOnMobile"> Play Deep Cut</span>
                </a>
            {% endif %}
        </li>
        <li class="icon-section">
            {% if is_authenticated %}
                <a href="{% url 'home' %}">
                    📦<span class="HiddenOnMobile">Generate Wrap</span> 
                </a>
            {% else %}
                <a href="{% url 'login' %}">
                    📦<span class="HiddenOnMobile">Generate Wrap</span>
                </a>
            {% endif %}
        </li>
        <li class="icon-section">
            {% if not is_authenticated %}
                <a href="{% url 'login' %}">
                    🔒 <span class="HiddenOnMobile">Log in</span>
                </a>
            {% else %}
                <a href="{% url 'logout' %}">
                    🚪<span class="HiddenOnMobile">Log Out</span>
                </a>
            {% endif %}
        </li>
    </ul>
</div>

<main>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                X
                <span aria-hidden="true"></span>
            </button>
        </div>
    {% endfor %}
    <div class="side-image">
        <img src="{% static 'UserAuth/base1-default.jpg' %}" alt="Abstract Art">
    </div>
    {% block body %}{% endblock %}
</main>
</body>
</html>
