{% extends 'UserAuth/base.html' %}
{% load static %}
{% block body %}
    <div class="vert-center">
    <form class="authForm" action='{% url 'login' %}' method="post">
        {% csrf_token %}
        <h3>Sign in</h3>
        <br>
            {% if form.email.errors %}
                <div class="form-errors">
                    {% for error in form.email.errors %}
                        <p class="error-message">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            
            <div>
                <label for="id_email">Email</label>
                {{ form.email }}
            </div>
        
            {% if form.password.errors %}
                <div class="form-errors">
                    {% for error in form.password.errors %}
                        <p class="error-message">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            
            <div class="account-validation-error">
                <label for="id_password">Password</label>
                {{ form.password }}
            </div>
            
            <span class="clearfix">
                <button type="submit">Login with email</button>
            </span>
        </form>
        <div class="login-alternate">
            <p>or</p>
            <a href="{% url 'authWithSpotify' %}" class="spotify-login">
                <img src="{% static 'UserAuth/spotify-icon.webp' %}"
                     alt="Spotify Logo"
                     class="spotify-icon">
                Connect with Spotify
            </a>
        </div>
    </div>
{% endblock %}
