{% extends 'UserAuth/base.html' %}
{% load static %}
{% block body %}
    <h1>Hi {{ user.get_username }}</h1>
    <h2>Your Tokens:</h2>
    <table class="linked-tokens">
        <tr>
            <th>Email</th>
            <th>Username</th>
            <th>Unlink</th>
        </tr>
        {% for token in associated_spotify_tokens %}
            <tr>
                <th>{{ token.spotify_account_email }}</th>
                <th>{{ token.spotify_account_username }}</th>
                <th>
                    <form method="post" action="{% url 'unlink_token' %}">
                        {% csrf_token %}
                        <input type="hidden"
                               name="spotify_account_username"
                               value="{{ token.spotify_account_username }}">
                        <button type="submit">
                            <i class="fa fa-close"></i>
                        </button>
                    </form>
                </th>
            </tr>
        {% endfor %}
    </table>
    <a class="LinkSpotify" href="{% url 'authWithSpotify' %}">+</a>
    <div class="button-container">
        <a class="DeleteAccount" href="{% url 'delete_account' %}">Delete Account</a>
    </div>
{% endblock %}
