{% extends 'UserAuth/base.html' %}
{% load static %}
{% block body %}
    <form class="authForm" action='{% url 'signup' %}' method="post">
        <h3>Create an Account</h3><br>
        {% csrf_token %}
        <div>
            <label for="id_email">Email</label>
            {{ form.email.errors }}
            {{ form.email }}
        </div>
        <div>
            <label for="id_password">Password</label>
            {{ form.password.errors }}
            {{ form.password }}
        </div>

        <span class="clearfix">
            <button type="submit">Create Account</button>
        </span>
    </form>
        <div class="login-alternate">
        <p>or</p>
        <a href="{% url 'authWithSpotify' %}" class="spotify-login">
            <img src="{% static 'UserAuth/spotify-icon.webp' %}" alt="Spotify Logo" class="spotify-icon">
            Connect with Spotify
        </a>
        </div>
{% endblock %}