{% extends 'UserAuth/base.html' %}

{% block body %}
    <form class="authForm" action='{% url 'signup' %}' method="post">
        <h3>Create an Account with Email and Password</h3>
        {% csrf_token %}
        <div>
            <label for="id_email">Email</label>
            {{ form.email.errors }}
            {{ form.email }}
        </div>
        <div>
            <label for="id_password">Password</label>
            {{ form.password.errors }}
            {{ form.password }}
        </div>

        <span class="clearfix">
            <button type="submit">Create Account</button>
        </span>
    </form>
{% endblock %}